<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Module_Pro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1485D8A1F5EC35A00F3D11A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1485DA31F5EC35B00F3D11A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1485DAE1F5EC35B00F3D11A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
